@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  /* Font Families */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Instrument Serif", serif;
  --font-mono: "Space Mono", monospace;

  /* Brand Colors */
  --color-brand-bg: #f8f8f8;
  --color-brand-dark: #000000;
}

@layer base {
  body {
    @apply font-sans bg-brand-bg text-brand-dark antialiased;
  }
}

/* Utilitas khusus untuk teks transparan (Stroke) */
@utility stroke-text {
  -webkit-text-stroke: 1px #000000;
  color: transparent;
}

@utility nav-link {
  @apply relative overflow-hidden inline-block;
}

@utility nav-link-hover {
  @apply block transition-transform duration-500 ease-out;
}